<mat-card>
    <mat-card>
        <div class="row">
            <div class="col-md-1">
                <fa-icon [icon]="faBars"></fa-icon>
            </div>
            <div class="col-md-8">
                 <h3>Users</h3>
            </div>
        </div>
       
    </mat-card>
<div class="row">
    <div class="col-md-10">
<h3>USER LIST</h3>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->

        <ng-container matColumnDef="name">
         <th mat-header-cell *matHeaderCellDef><mat-checkbox>Name</mat-checkbox> </th>
            <td mat-cell *matCellDef="let element"> <mat-checkbox>{{element.name}}</mat-checkbox> </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            <i class='fas fa-edit'></i>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> Gender </th>
            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>
        <ng-container matColumnDef="DOB">
            <th mat-header-cell *matHeaderCellDef> Date Of Birth </th>
            <td mat-cell *matCellDef="let element"> {{element.DOB}}  
                     <mat-icon class="btn btn-xs" (click)=" openUserEdit(element)">edit</mat-icon> 
                     <mat-icon class="btn btn-xs" (click)=" openUserDelete()">delete</mat-icon>
            </td>
             
        </ng-container> 

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
        
        <mat-paginator [length]="8" [pageSize]="5" [pageSizeOptions]="[5, 10, 8]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator> 
        
    </div> 
    
    </div>
    <div class="col-md-2 Progress">
        <mat-card>
            <h3>Progress</h3>
           <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
           <table>
            <tr>
                <span>Male User:</span>
                <td>10</td>
            </tr>
            <tr>
                <span>Female User:</span>
                <td>22</td>
            </tr>
           </table>
        </mat-card>
    </div>
</div>
</mat-card>

