
    <div class="row">
        <div class="col-md-11">
            <h3>Delete User</h3>
        </div>
        <div class="col-md-1">
            <fa-icon [icon]="faXmark"></fa-icon>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            Are you sure you want to delete Sew Joen?
        </div>
        </div>
        <div class="row">
            <div class="col-md-8"></div>
        <div class="col-md-2">
                     <button class="btn btn-01">No</button>
            </div>
            <div class="col-md-2">
            <!-- <button mat-raised-button>Yes</button> -->
            <button class="btn btn-01">Yes</button>
        </div>
        </div>

    

