
.btn {
        overflow: hidden;
        border: 2px solid rgb(62, 218, 202);
        font-family: 'Arial';
        font-size: 1rem;
        color: rgb(14, 14, 14);
        cursor: pointer;
        padding: 0px 20px;
        display: inline-block;
        margin: 7px -19px;
        outline: none;
        position: relative;
        background: none;
        border-radius: 20px;
        font-weight: 400;
    }
    .btn-01:hover 
    {
        background-color: rgb(32, 218, 199);

     }
    .h3{
        font-family: 'Arial';
    }
